<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SlpSpinner',
  props: {
    isLoading: {
      type: Boolean,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="spinner" :class="{ 'spinner--loading': isLoading }">
    <div class="spinner__loader"></div>
  </div>
</template>

<style scoped lang="scss">
.spinner {
  background: $color-primary-300;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &--loading {
    opacity: 0.7;
    pointer-events: all;
  }

  &__loader {
    position: absolute;
    left: 0;
    top: $spacing-160;
    right: 0;
    margin: 0 auto;
    border: $spacing-8 solid $color-primary-100;
    border-top: $spacing-8 solid $color-accent-400;
    border-radius: 50%;
    width: $spacing-48;
    height: $spacing-48;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
