<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import DefaultTemplate from '~/components/solutions/templates/default-template.vue';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';

import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { LivePreviewMixin } from '~/mixins';

export default Vue.extend({
  components: {
    DefaultTemplate,
    IndustryTemplate,
  },
  mixins: [LivePreviewMixin],
  async asyncData({ $solutionsService, params }: any) {
    try {
      const isIndexSlug = !params.slug;
      const { solutions, items } = await $solutionsService.getContent(
        `solutions/value-stream-management${
          params.slug ? `/${params.slug}` : ''
        }`,
        isIndexSlug,
      );

      return { solutions, items };
    } catch (e) {
      throw new Error(e);
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).solutions, this.$route.path);
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: async (updatedData) =>
          (this.solutions =
            await this.$solutionsService.transformContentfulData(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <industry-template
    v-if="solutions.template === TEMPLATES.Industry"
    :solutions="solutions"
  />
  <default-template v-else :solutions="solutions" />
</template>
