<script lang="js">
import Vue from 'vue';
import { NextStepAlt } from '../components/common/index.vue';
import {
  BlurbGrid,
  CustomerLogos,
  FeatureShowcase,
  HeroScrollGallery,
  IntroBlock,
  RecognitionSpotlight,
  TabbedCaseStudies,
  TabbedFeatures,
} from '../components/home/index.vue';
import { getPageMetadata } from '../common/meta';
import { getClient } from '~/plugins/contentful.js';
import { homepageHelper } from '~/services/homepage/homepage.service';
import { convertToCaseSensitiveLocale } from '../common/util';

export default Vue.extend({
  components: {
    CustomerLogos,
    NextStepAlt,
    IntroBlock,
    BlurbGrid,
    FeatureShowcase,
    TabbedFeatures,
    TabbedCaseStudies,
    RecognitionSpotlight,
    HeroScrollGallery,
  },
  async asyncData({ i18n }) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;

      const { items } = await getClient().getEntries({
        content_type: 'page',
        include: 10,
        'sys.id': `5h8SvwgmRDi4o9RduvBJO5`,
        locale: convertToCaseSensitiveLocale(i18n.locale),
      });

      const [entry] = items;

      const doc = homepageHelper(entry.fields);
      return { doc, locale };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    return getPageMetadata(
      this.doc,
      this.$route.fullPath,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.width = window.innerWidth;
    },
    onFreeTrialClick() {
      this.$refs.launchDarklyButtons.fireCustomEvent(
        'clicked-hero-redesign-free-trial-cta',
      );
    },
  },
});
</script>

<template>
  <div class="homepage-container">
    <HeroScrollGallery
      v-if="doc.hero_scroll_gallery"
      v-bind="doc.hero_scroll_gallery"
      @hero-free-trial-cta-click="onFreeTrialClick()"
    />
    <SlpContainer v-if="doc.customer_logos_block">
      <CustomerLogos :data="doc.customer_logos_block" />
    </SlpContainer>
    <IntroBlock v-if="doc.intro_block" :data="doc.intro_block" />

    <BlurbGrid v-if="doc.blurb_grid" :data="doc.blurb_grid" />

    <SlpContainer v-if="doc.feature_showcase">
      <FeatureShowcase :data="doc.feature_showcase" />
    </SlpContainer>
    <TabbedFeatures v-if="doc.tabbed_features" :data="doc.tabbed_features" />
    <TabbedCaseStudies
      v-if="doc.quotes_carousel_block"
      v-bind="doc.quotes_carousel_block"
    />
    <RecognitionSpotlight
      v-if="doc.recognition_spotlight"
      :data="doc.recognition_spotlight"
    />

    <NextStepAlt :current-locale="locale" />
  </div>
</template>
<style scoped lang="scss">
.homepage-container {
  position: relative;
  background-image: url('/nuxt-images/home/gradient.png');
  background-repeat: no-repeat;
  background-size: 300% 1400px;
  background-position: center top;
  z-index: 1;
  overflow: hidden;
  @media (min-width: $breakpoint-sm) {
    background-size: 100% 1400px;
    background-position: right top;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 746px;
    left: 0;
    top: 700px;
    z-index: -1;
    background: linear-gradient(
      0deg,
      #fff 0%,
      #fff 24.59%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
</style>
