<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PlanSummary',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section :id="data.id" class="plan-summary">
    <SlpTypography tag="h1" variant="heading1-bold">{{
      data.title
    }}</SlpTypography>
    <SlpTypography tag="h3" variant="heading4-bold">{{
      data.subtitle
    }}</SlpTypography>
    <SlpTypography variant="body1" tag="div">{{ data.text }}</SlpTypography>
    <div v-if="data.list" class="list">
      <ul>
        <li v-for="feature in data.list" :key="feature">
          <SlpIcon
            variant="product"
            name="check-circle-filled"
            class="check-icon"
          /><SlpTypography>{{ feature }}</SlpTypography>
        </li>
      </ul>
    </div>
    <div v-if="data.cta" class="cta">
      <SlpButton variant="primary" class="cta-button" :href="data.cta.url">
        {{ data.cta.text }}
      </SlpButton>
    </div>
    <SlpTypography v-if="data.footnote" variant="body1" tag="div">{{
      data.footnote
    }}</SlpTypography>
    <SlpRow v-if="data.buttons" class="plan-summary__button-wrapper">
      <SlpButton
        v-for="(button, buttonIndex) in data.buttons"
        :key="buttonIndex"
        :variant="button.variant"
        :href="button.url"
        :data-ga-name="button.data_ga_name"
        :data-ga-location="button.data_ga_location"
        >{{ button.text }}
        <SlpIcon
          v-if="button.icon"
          class="slp-ml-8"
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
        />
      </SlpButton>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.plan-summary {
  & > * {
    margin-bottom: $spacing-32;

    @media (max-width: $breakpoint-md) {
      margin-bottom: $spacing-24;
    }
  }

  &:deep(strong) {
    font-weight: $font-weight-bold;
  }

  &__text {
    font-size: $text-heading-5;
    line-height: $line-height-heading-5;
    font-weight: $font-weight-normal;
    letter-spacing: -0.8px;

    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-5-mobile;
      line-height: $line-height-heading-5-mobile;
      font-weight: $font-weight-normal;
      letter-spacing: -0.8px;
    }
  }

  &__button-wrapper {
    flex-direction: column;
    &:deep(.slp-btn) {
      justify-content: center;
      margin-bottom: $spacing-8;
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}

.list ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    display: flex;
    gap: 8px;
    .check-icon {
      padding-top: 4px;
    }
  }
}

.cta-button {
  @media (max-width: $breakpoint-lg) {
    width: 100%;
    justify-content: center;
    outline: none;
    color: #171321;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--slp-color-surface-700, #171321);
    :hover {
      background-color: #e8e7eb;
    }
  }
}
</style>
